core/files/simple_xsd_cheme.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FamilyName" type="xs:string"/>
        <xs:element name="GivenName" type="xs:string"/>
        <xs:element name="Contact" type="ContactType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element name="Email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>